---
anchors:
  tema: Téma
  eloadok: Előadók
  program: Program
  helyszin: Helyszín
  regisztracio: Regisztráció
  
---
<%= partial '2015_intro' %>

<%= partial 'sticky_menu' %>
<section id="tema" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Téma</h1>
      <p>„Aki a mi bűneinket maga vitte fel testében a fára, hogy a bűnöknek meghalván, az igazságnak éljünk: akinek sebeivel gyógyultatok meg.”<br>I Péter 2:24</p>
      <h2>Szemináriumok</h2>
      <h2><small>Horváth Orsolya</small></h2>
      <p>Előre a kezdethez!
      <br>
      Hitünk megszületésének és hitünk megújulásának is egyetlen lehetséges forrása: Jézus Krisztus. Bármit teszünk, bárhogyan viselkedünk, bárhogyan igyekezünk, ha Jézus Krisztussal nincs, megszakadt vagy torz a kapcsolatunk, az egész nem ér egy hajítófát sem. E két szeminárium abban kíván segíteni, hogy újraalapozzuk kapcsolatunkat Jézus Krisztussal:</p>

      <p>1. Jézus Krisztus: személy vagy papír?
      <br>
      Először azt kérdezzük, kicsoda nekünk ma a Megváltó. Valóban élő személyként lehet jelen a mindennapjaimban valaki, aki cc. 2000 évvel ezelőtt élt? A vele való kapcsolathoz mindig olvasnom kell és mindig ugyanazt? És ha közben megőrjít az unalom?</p>

      <p>2. A kereszt botránya és öröme
      <br>
      Aztán pedig azt, hogyan derülhet ki, milyen kapcsolat fűz engem az Üdvözítőhöz valójában. Tényleg ismerem őt? Tényleg követem őt? Egyáltalán: akarom őt igazán?</p>
      
      <h2><small>Szabó László</small></h2>
      <p>Analóg evangéliummal egy digitális világban?
      <br>
      A médiák radikálisan átalakították az európai ember életét. A szabadidőért folytatott küzdelemben maguk alá gyűrték nem csak a családi kötelékeket, hagyományos kultúrai elemeket, hanem az egyházakat is. Miért ilyen vonzó és mit eredményez az intenzív médiafogyasztás? A legújabb kutatási eredmények segítségével bepillantást nyerünk a mai fiatalok gondolkodásába, értékrendszerébe, a médiák szerepébe az életükben, de ezen túl nagy figyelmet fordítunk a mai missziói lehetőségek felismerésére is. Mindezek mellett az írásból arra is keressük a választ, hogy Jézus misszióparancsai milyen támpontokat nyújtanak a szolgálatra nézve egy digitális világban. A szeminárium segítséget nyújt abban, hogy </p>
      <ul>
        <li>panasz helyett esélyként tekintsünk a szolgálatra a digitális világban,</li>
        <li>önmagunkat is jobban megértsük, hisz mi is a médiák hatása alatt állunk,</li>
        <li>alapvető keresztény értékeket hatékonyabban tudjunk közvetíteni a 21. században.</li>
      </ul>
      
      <h2><small>Szallós-Farkas Zoltán</small></h2>
      <p>Lelki ember vagy-e? Lelki lány, illetve lelki fiatalember? Ha nem egyértelmű a válaszod, meghívlak a négy részből álló szemináriumi előadás első két alkalmára, amikor is a bibliai lelkiség meghatározásával foglakozunk.</p>

      <p>Folytatásképpen azt a kérdést tisztázzuk, hogy miként viszonyul a lelki ember a szexualitás tényéhez. Ha nem vagy biztos a válaszban, szíveskedj jelen lenni a 3. és a 4. szemináriumi előadáson is.</p>
    </div>
  </div>
</section>

<section id="eloadok" class="speakers content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Előadók</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Szabó László</h2>
      <span class="th"><%= image_tag '2015/laci.jpg' %></span>
      <p>
        Szabó László a friedensaui adventista egyetem teológia tanára.
        Lelkészként előbb misszionáriusként Tanzániában majd Magyarországon
        dolgozott. Fő kutatási területei az európai misszió múltja, jelen
        és jövője, valamint a maszáj törzs élete Tanzániában. Feleségével
        Szilviával és két gyermekükkel (Dominik és Zsanna) jelenleg
        Németországban élnek.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Sebastian Matula</h2>
      <span class="th"><%= image_tag '2014/sebastien.jpg' %></span>
      <p>
        Sebastian Matula jelenleg másodéves teológushallgató a Newboldi
        Főiskolán. Svédországban született magyar szülők gyermekeként,
        és Magyarországon élt 6 éven keresztül. Mielőtt komolyan vette
        volna hitét és Isten szolgálatába lépett volna, profi
        futballista volt, aki fényes jövőnek nézett elébe. Azonban egy
        sérülés megállította ezen a pályán, ami végül elvezette arra,
        hogy átgondolja az élet fontosságát és rádöbbentette, hogy
        egyedül Jézus Krisztus állja ki az idő próbáját. Megtérése óta
        Sebastian azért él, hogy megoszthassa Jézus Krisztus örökkévaló
        evangéliumát a Hármas Angyali Üzenet (Jelenések 14:6-12)
        összefüggésében.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Horváth Orsolya</h2>
      <span class="th"><%= image_tag '2015/horvath_orsolya.jpg' %></span>
      <p>
        Horváth Orsolya, a filozófiai tudományok doktora, teológus.
        Jelenleg az Adventista Teológiai Főiskola oktatója. Fő kutatási
        területe a konkrét egyes ember öneszmélése és ennek akadályai.
        Élete legnagyobb lehetőségének és kihívásának az igehirdetést
        tartja, a legnagyobb csodának pedig azt, hogy megszülethetett
        benne a hit. Férjével Budapesten él.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Szallós-Farkas Zoltán</h2>
      <span class="th"><%= image_tag '2015/zoltan.jpg' %></span>
      <p>
        Szallós-Farkas Zoltán, a romániai Adventista Teológiai Intézet tanára, több mint 30 éve foglalkozik a 
        fiatalok nevelésével. A többek között a párválasztás, a jellemesség / lelkiség, illetve a nemi nevelés 
        témakörével foglakozó előadásokat tart(ott) Európa különböző országaiban.
      </p>
    </div>
  </div>
</section>

<section id="program" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Program</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 large-4 columns">
      <h2>Szerda</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">16:00 – 18:00</td>
            <td>Érkezés regisztráció</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Megnyitó és esti áhítat</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Kiscsoportos beszélgetések</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Csütörtök</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Személyes áhítatok</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Reggeli</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Reggeli áhítat</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:50</td>
            <td>Szemináriumok I.</td>
          </tr>
          <tr>
            <td class="time">11:00 – 11:50</td>
            <td>Szemináriumok II.</td>
          </tr>
          <tr>
            <td class="time">12:15 – 13:30</td>
            <td>Ebéd</td>
          </tr>
           <tr>
            <td class="time">12:00 – 13:30</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
          <tr>
            <td class="time">13:30 – 14:30</td>
            <td><strong>Bizonyságtétel</strong></td>
          </tr>
          <tr>
            <td class="time">15:00 – 15:50</td>
            <td>Szemináriumok III.</td>
          </tr>
          <tr>
            <td class="time">16:00 – 16:50</td>
            <td>Szemináriumok IV.</td>
          </tr>
          <tr>
            <td class="time">17:00 – 18:30</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Vacsora</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Esti áhítat</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Kiscsoportos beszélgetések</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Péntek</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Személyes áhítatok</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Reggeli</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Reggeli áhítat</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:50</td>
            <td>Szemináriumok I.</td>
          </tr>
          <tr>
            <td class="time">11:00 – 11:50</td>
            <td>Szemináriumok II.</td>
          </tr>
          <tr>
            <td class="time">12:15 – 13:30</td>
            <td>Ebéd</td>
          </tr>
          <tr>
            <td class="time">14:00 – 17:00</td>
            <td><strong>Misszió</strong></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Vacsora</td>
          </tr>
          <tr>
            <td class="time">19:00 – 21:00</td>
            <td><strong>Esti áhítat</strong></td>
          </tr>
          <tr>
            <td class="time">21:00 – 22:00</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="medium-6 large-4 columns">
      <h2>Szombat</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Személyes áhítatok</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Reggeli</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:00</td>
            <td><strong>Reggeli áhítat <em>(Sebastian Matula)</em></strong></td>
          </tr>
          <tr>
            <td class="time">9:30 – 10:30</td>
            <td><strong>Szombatiskola <em>(Csizmadia Róbert)</em></strong></td>
          </tr>
          <tr>
            <td class="time">11:00 – 12:30</td>
            <td><strong>Istentisztelet <em>(Zarka Péter, Szabó László)</em></strong></td>
          </tr>
          <tr>
            <td class="time">12:30 – 13:45</td>
            <td>Ebéd</td>
          </tr>
          <tr>
            <td class="time">12:30 – 13:45</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
          <tr>
            <td class="time">14:00 – 15:00</td>
            <td><strong>Bizonyságtétel <em>(Szallós Zoltán)</em></strong></td>
          </tr>
          <tr>
            <td class="time">15:30 – 16:20</td>
            <td>Szemináriumok III.</td>
          </tr>
          <tr>
            <td class="time">16:30 – 17:20</td>
            <td>Szemináriumok IV.</td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Vacsora, <em>kiállítások nyitva</em></td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Esti áhítat <em>(Szabó László)</em></strong></td>
          </tr>
          <tr>
            <td class="time">20:00 - 20:45</td>
            <td>Kiscsoportos beszélgetések</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>Kiállítások nyitva</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Vasárnap</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>személyes áhítatok</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Reggeli</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Reggeli áhítat</strong></td>
          </tr>
          <tr>
            <td class="time">09:45 – 11:00</td>
            <td><strong>Záró plenáris</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="helyszin" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Helyszín</h1>
      <h2>
        <a href="http://adventista.hu/terezvaros/">Budapest, "A" gyülekezet</a>
        <small>1062 Budapest, Székely Bertalan utca 13.</small>
      </h2>
      <div class="row">
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.8457004634756!2d19.068674200000004!3d47.512396100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc76a3bd10f7%3A0x7ee4412ba35dffe!2sSz%C3%A9kely+Bertalan+u.+13%2C+Budapest%2C+1062!5e0!3m2!1shu!2shu!4v1417476496865" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        <div class="medium-6 columns">
          <%= image_tag '2015/gyulkep.jpg' %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h2>Szállás</h2>
          <p>A szállás egy belvárosi Hostelben lesz, a következő linken elérhető a honlap: <a href="http://www.broadwayhostel.hu/hu/" target="_blank">www.broadwayhostel.hu</a></p>
          <h2>Étkezés</h2>
          <p>A konferencia alatt vegetáriánus étkezést biztosítunk, minden esetben biztosítva a tej- és tojásmentes (vegán) opciót. Az ételek többsége elcsomagolható, dobozban tálalt, szombat délben pedig szendvicseket kapnak az étkezésre regisztrált résztvevők.</p>
          <h2><small>Menü</small></h2>
          <b>Január 29. ebéd:</b><br>
          <ul>
            <li>Zöldborsóleves</li>
            <li>Parajos-ricottáslasagne</li>
            <li>Farsangi fánk barack lekvárral</li>
          </ul>
          <b>Január 29. vacsora:</b><br>
          <ul>
            <li>"Vega" rakott zöldbab</li>
          </ul>
          <b>Január 30. ebéd:</b><br>
          <ul>
            <li>Brokkoli krémleves</li>
            <li>Gombapaprikás durumtésztával</li>
            <li>Almás pite</li>
          </ul>
          <b>Január 30. vacsora:</b><br>
          <ul>
            <li>Rakott burgonya rácosan</li>
          </ul>
          <b>Január 31. vacsora:</b><br>
          <ul>
            <li>Vega bolognai spagetti</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="regisztracio" class="content">
  <div class="row">
    <div class="small-12 columns text-center">
      <a href="<%= t 'conf_2015.register_url' %>" class="button large radius" target="_blank"><%= t 'conf_2015.register' %></a>
    </div>
  </div>
</section>
