---
anchors:
  theme: Theme
  speakers: Speakers
  schedule: Schedule
  venue: Venue
  registration: Registration
---
<%= partial '2014_intro' %>

<%= partial 'sticky_menu' %>

<section id="theme" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Theme</h1>

      <p>Our Earth is the scene of a cosmic struggle, the central question being the character of God. The Accuser wants to make the entire universe believe that there is no love in God, and He actually is just out for Himself. He spares no effort in painting a false image of God in our minds.</p>

      <p>God designed a plan which will eternally prove that His love knows no bounds; that He Himself is Love. The redemptive death of Christ on the cross was the key. And we can all be partakers in His plan.</p>

      <blockquote>By coming to dwell with us, Jesus was to reveal God both to men and to angels. He was the Word of God,—God’s thought made audible. … But not alone for His earthborn children was this revelation given. Our little world is the lesson book of the universe. God’s wonderful purpose of grace, the mystery of redeeming love, is the theme into which “angels desire to look,” (1Pt 1:12) and it will be their study throughout endless ages. Both the redeemed and the unfallen beings will find in the cross of Christ their science and their song. – <em>Desire of Ages, p. 19.</em></blockquote>

      <p>We are committed to Jesus Christ and His call of a radical commitment to Him.  Because of your radical choice, do you not think the enemy of souls is not going to try to alter our commitment and ultimately discourage us in our walk with Christ?  Of course he is.</p>

      <p>The good news is that victory is ours in Jesus.  Though the battle rages on, if we have committed ourselves to the winning side, our victory is assured.

      <p>Hence, our theme this year: “Before Men and Angels”. Let's change our point of view and look at our lives from the perspective of the great controversy. The struggle we face here is one of cosmic consequences. Let us commit ourselves again to put the crucified Saviour in the centre of our lives and to represent Him faithfully before men and angels.</p>
    </div>
  </div>
</section>

<section id="speakers" class="speakers content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Speakers</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Daniel Pel</h2>
      <span class="th"><%= image_tag '2014/daniel.jpg' %></span>
      <p>
        Daniel Pel is an international sought after speaker, who has
        travelled the globe, sharing relevant and engaging topics from
        the Bible. His dynamic and logical way of presenting the
        Scriptures has been an inspiration to many. Though originally
        born in New Zealand to Dutch parents, Daniel has spent most of
        his life in Europe, and now lives with his wife, Silvia, in
        Norway. Together they run a ministry called
        <a href="http://livingwater.no/">Living Water</a>,
        seeking to quench the thirst of people with the gospel of Jesus
        Christ.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Sebastien Matula</h2>
      <span class="th"><%= image_tag '2014/sebastien.jpg' %></span>
      <p>
        Sebastian Matula is currently a second year theology student at
        Newbold College. Was born in Sweden to Hungarian parents and has
        also lived in Hungary for 6 years. Before taking his faith
        seriously and entering ministry, he was a professional football
        player with a bright future. But an injury stopped him, which
        eventually led him to reconsider the importance of life and
        discovered that only Jesus Christ stands the test of time. Ever
        since his conversion, Sebastian lives and breathes to share the
        everlasting gospel of Jesus Christ in the context of the Three
        Angels’ Messages in Revelation 14:6-12.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Zippora Anson</h2>
      <span class="th"><%= image_tag '2014/zippora.jpg' %></span>
      <p>
        Zippora Anson, a graduate of the ARISE program in 2008,
        completed her graduate studies in Public International Law from
        Leiden University in 2010. Though she has worked with banks and
        the salvation army, her passion was being part of a core group
        of youth that were inspired to begin something in the
        Netherlands, a country virtually devoid of religious interest.
        Zippora chaired the programming department for
        <a href="http://youthforall.nl/?lang=en">Youth for All</a>
        from 2007-2012, and with that experience aided heavily in the
        organization of GYC-Europe in 2012. She currently chairs Youth
        for All's evangelism department, serves as the secretary for
        ADRA Netherlands, and works as a manager at a psychiatric
        clinic. She continues to lead out in seasons of prayer among
        European youth to revive the dormant embers of the reformation.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>István Stramszki</h2>
      <span class="th"><%= image_tag '2014/stramszki.jpg' %></span>
      <p>
        István Stramszki acquired a degree in Economics, but since he
        grew up in the loving atmosphere of the church he was always
        responsive to the Bible and it's teachings. Therefore when he
        got a calling to become a pastor, he said yes. He graduated from
        Sola Scriptura Adventist seminary in Budapest, where he later
        taught for 15 years, mainly classes on the Old Testament.
        He also serves in sharing the Gospel by holding Bible seminars,
        preaching and translating, according to the spiritual gifts he
        has received.
      </p>
    </div>
  </div>
</section>

<section id="schedule" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Schedule</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 large-4 columns">
      <h2>Wednesday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">15:00 – 18:30</td>
            <td>Arrival, Registration</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Opening Session</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Small Groups</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Thursday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:50</td>
            <td>Seminar Session 1</td>
          </tr>
          <tr>
            <td class="time">11:00 – 11:50</td>
            <td>Seminar Session 2</td>
          </tr>
          <tr>
            <td class="time">12:15 – 13:30</td>
            <td>Lunch, <em>exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">13:30 – 14:30</td>
            <td><strong>Bizonyságtétel</strong></td>
          </tr>
          <tr>
            <td class="time">15:00 – 15:50</td>
            <td>Seminar Session 3</td>
          </tr>
          <tr>
            <td class="time">16:00 – 16:50</td>
            <td>Seminar Session 4</td>
          </tr>
          <tr>
            <td class="time">17:00 – 18:30</td>
            <td><em>prayer room and exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Dinner</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Evening Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Small Groups</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Friday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:50</td>
            <td>Seminar Session 1</td>
          </tr>
          <tr>
            <td class="time">11:00 – 11:50</td>
            <td>Seminar Session 2</td>
          </tr>
          <tr>
            <td class="time">12:15 – 13:30</td>
            <td>Lunch, <em>exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">13:30 – 14:30</td>
            <td><strong>Bizonyságtétel</strong></td>
          </tr>
          <tr>
            <td class="time">15:00 – 15:50</td>
            <td>Seminar Session 3</td>
          </tr>
          <tr>
            <td class="time">16:00 – 16:50</td>
            <td>Seminar Session 4</td>
          </tr>
          <tr>
            <td class="time">17:00 – 18:30</td>
            <td><em>prayer room and exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Dinner</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Evening Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Small Groups</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Sabbath</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:45</td>
            <td><strong>Sabbath School</strong></td>
          </tr>
          <tr>
            <td class="time">11:00 – 12:30</td>
            <td><strong>Divine Service</strong></td>
          </tr>
          <tr>
            <td class="time">12:30 – 13:45</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td class="time">14:00 – 17:30</td>
            <td><strong>Outreach</strong></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Dinner, <em>exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">19:00 – 21:00</td>
            <td><strong>Evening Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">21:00 – 21:30</td>
            <td><em>exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Sunday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">09:45 – 11:00</td>
            <td><strong>Final Charge</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="venue" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Venue</h1>
      <h2>
        <a href="http://www.hotelromai.hu/?lang=en">Hotel Római</a>
        <small>1039 Budapest, Szent János u. 16.</small>
      </h2>
      <div class="row">
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x4741d9f2fc857e93%3A0xc35642ba3fbb42bb!2s1039+Budapest%2C+Szent+J%C3%A1nos+utca+16%2C+Magyarorsz%C3%A1g!5e0!3m2!1shu!2s!4v1387560106095" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        <div class="medium-6 columns">
          <img src="http://www.hotelromai.hu/pictures/hotel-romai-07.jpg" alt="Hotel Római">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registration" class="content">
  <div class="row">
    <div class="small-12 columns text-center">
      <a href="<%= t 'conf_2014.register_url' %>" class="button large radius"><%= t 'conf_2014.register' %></a>
    </div>
  </div>
</section>
