---
anchors:
  theme: Theme
  speakers: Speakers
  schedule: Schedule
  venue: Venue
  registration: Registration
---
<%= partial '2015_intro' %>

<%= partial 'sticky_menu' %>
<section id="theme" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Theme</h1>
      <p>“He himself bore our sins in his body on the cross, so that we might die to sins and live for righteousness; by his wounds you have been healed.”<br>I Peter 2:24</p>
      <h2>Seminars</h2>
      <h2><small>Orsolya Horváth</small></h2>
      <p>Ahead, to the Start!
      <br>
      The only source of our faith's birth and renewal is Jesus Christ. Whatever we do, however we behave or try, if our connection with Jesus Christ is distorted, broken or does not even exist, then the whole thing isn't worth a dime. These two seminars hope to help relay the foundations of our connection with Jesus Christ:</p>

      <p>1. Jesus Christ: Person or Paper?
      <br>
      First we shall ask, who is the Redeemer for us today. Can someone who lived about 2000 years ago really be a living person in our everyday lives? To stay in contact with him, do I really always need to read, and always the same thing? What if I get awfully bored of it?</p>

      <p>2. The Joy and Outrage of the Cross
      <br>
      Then we shall ask, what kind of a relationship do I truly have with the Redeemer. Do I really know him? Do I truly follow him? Do I earnestly want him at all?</p>
      
      <h2><small>László Szabó</small></h2>
      <p>With an Analogue Gospel in a Digital World?
      <br>
      The media has radically changed the life of European people. In the battle of free time activities not only have they won over family bonds, traditional cultural elements, but also the churches. Why is intensive media use so appealing, and what does it do to us? Using the latest research results we will take an adventure into the thoughts and values of today's youth, examining the effect of media on them and the current possibilities for mission. Also we will look through the Scriptures for anchors Jesus gives us in his mission statements regarding ministry in a digital world. The seminaries will help us</p>
      <ul>
        <li>consider ministry in a digital world an opportunity rather than a pain,</li>
        <li>undestand ourselves better as we are also impacted by media,</li>
        <li>mediate fundamental christian values in the 21st century more effectively.</li>
      </ul>
      
      <h2><small>Zoltán Szallós-Farkas</small></h2>
      <p>Are you a spiritual person? A spiritual girl or spiritual young man? If your answer wasn't obvious, then I invite you to the first two seminars of my 4-part series. At these presentations we will examine the Biblical definition of spirituality.</p>

      <p>In the continuation we will make clear how the spiritual person deals with sexuality. If you are not sure about your answer, please join us on the 3rd and 4th seminars too.</p>
    </div>
  </div>
</section>

<section id="speakers" class="speakers content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Speakers</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>László Szabó</h2>
      <span class="th"><%= image_tag '2015/laci.jpg' %></span>
      <p>
        László Szabó is a teacher at the Friedensau Adventist University.
        As a pastor he first did mission work in Tanzania, then later
        worked in Hungary. His main subjects of research are the past, 
        present and future of European mission and the life of the Maasai
        in Tanzania. He currently lives in Germany with his wife, Silvia,
        and their two children (Dominik and Zsanna).
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Sebastian Matula</h2>
      <span class="th"><%= image_tag '2014/sebastien.jpg' %></span>
      <p>
        Sebastian Matula is currently a second year theology student at
        Newbold College. Was born in Sweden to Hungarian parents and has
        also lived in Hungary for 6 years. Before taking his faith
        seriously and entering ministry, he was a professional football
        player with a bright future. But an injury stopped him, which
        eventually led him to reconsider the importance of life and
        discovered that only Jesus Christ stands the test of time. Ever
        since his conversion, Sebastian lives and breathes to share the
        everlasting gospel of Jesus Christ in the context of the Three
        Angels’ Messages in Revelation 14:6-12.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Orsolya Horváth</h2>
      <span class="th"><%= image_tag '2015/horvath_orsolya.jpg' %></span>
      <p>
        Orsolya Horváth is a doctor of philosophy and a theologian. She
        is currently teaching at the Hungarian Adventist Theological
        Seminary. Her research focuses on individuals' gain of self
        consciousness and its obstacles. She consideres preaching the
        greatest challenge of her life. She feels the greatest miracle
        she has experienced was the birth of faith in her. She lives
        with her husband in Budapest.
      </p>
    </div>
    <div class="medium-6 columns">
      <h2>Zoltán Szallós-Farkas</h2>
      <span class="th"><%= image_tag '2015/zoltan.jpg' %></span>
      <p>
        Zoltán Szallós-Farkas is a teacher at the Romanian Adventist Theological
        Institute, and has been dealing with educating youth for over 30 years.
        He has held seminars and presentations throughout Europe about choosing
        partners, character and spirituality, sexuality.
      </p>
    </div>
  </div>
</section>

<section id="schedule" class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1>Schedule</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 large-4 columns">
      <h2>Wednesday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">15:00 – 18:30</td>
            <td>Arrival, Registration</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Opening Session</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Small Groups</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>Exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Thursday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:50</td>
            <td>Seminar Session 1</td>
          </tr>
          <tr>
            <td class="time">11:00 – 11:50</td>
            <td>Seminar Session 2</td>
          </tr>
          <tr>
            <td class="time">12:15 – 13:30</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td class="time">12:00 – 13:30</td>
            <td><em>Exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">13:30 – 14:30</td>
            <td><strong>Testimony</strong></td>
          </tr>
          <tr>
            <td class="time">15:00 – 15:50</td>
            <td>Seminar Session 3</td>
          </tr>
          <tr>
            <td class="time">16:00 – 16:50</td>
            <td>Seminar Session 4</td>
          </tr>
          <tr>
            <td class="time">17:00 – 18:30</td>
            <td><em>Exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Dinner</td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Evening Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Small Groups</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>Exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Friday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">10:00 – 10:50</td>
            <td>Seminar Session 1</td>
          </tr>
          <tr>
            <td class="time">11:00 – 11:50</td>
            <td>Seminar Session 2</td>
          </tr>
          <tr>
            <td class="time">12:15 – 13:30</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td class="time">14:00 – 17:00</td>
            <td><strong>Outreach</strong></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td><em>Exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Dinner</td>
          </tr>
          <tr>
            <td class="time">19:00 – 21:00</td>
            <td><strong>Evening Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">21:00 – 22:00</td>
            <td><em>Exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 large-4 columns">
      <h2>Sabbath</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:00</td>
            <td><strong>Morning Devotional <em>(Matula Sebastian)</em></strong></td>
          </tr>
          <tr>
            <td class="time">09:30 – 10:30</td>
            <td><strong>Sabbath School <em>(Róbert Csizmadia)</em></strong></td>
          </tr>
          <tr>
            <td class="time">11:00 – 12:30</td>
            <td><strong>Divine Service <em>(Péter Zarka, László Szabó)</em></strong></td>
          </tr>
          <tr>
            <td class="time">12:30 – 13:45</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td class="time">12:30 – 13:45</td>
            <td><em>Exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">14:00 – 15:00</td>
            <td><strong>Testimony <em>(Zoltán Szallós)</em></strong></td>
          </tr>
          <tr>
            <td class="time">15:30 – 16:20</td>
            <td>Seminar Session 3</td>
          </tr>
          <tr>
            <td class="time">16:30 – 17:20</td>
            <td>Seminar Session 4</td>
          </tr>
          <tr>
            <td class="time">17:30 – 18:30</td>
            <td>Dinner, <em>exhibits open</em></td>
          </tr>
          <tr>
            <td class="time">18:30 – 20:00</td>
            <td><strong>Evening Devotional <em>(László Szabó)</em></strong></td>
          </tr>
          <tr>
            <td class="time">20:00 – 20:45</td>
            <td>Small Groups</td>
          </tr>
          <tr>
            <td class="time">20:45 – 21:30</td>
            <td><em>Exhibits open</em></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="medium-6 large-4 columns">
      <h2>Sunday</h2>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <td class="time">07:00 – 07:45</td>
            <td><em>Personal devotions</em></td>
          </tr>
          <tr>
            <td class="time">07:45 – 08:30</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <td class="time">08:30 – 09:30</td>
            <td><strong>Morning Devotional</strong></td>
          </tr>
          <tr>
            <td class="time">09:45 – 11:00</td>
            <td><strong>Final Charge</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<section id="venue" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>Venue</h1>
      <h2>
        <a href="http://adventista.hu/terezvaros/">Budapest, Central Church "A"</a>
        <small>1062 Budapest, Székely Bertalan utca 13.</small>
      </h2>
      <div class="row">
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2694.8457004634756!2d19.068674200000004!3d47.512396100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc76a3bd10f7%3A0x7ee4412ba35dffe!2sSz%C3%A9kely+Bertalan+u.+13%2C+Budapest%2C+1062!5e0!3m2!1shu!2shu!4v1417476496865" width="600" height="450" frameborder="0" style="border:0"></iframe>
          </div>
        </div>
        <div class="medium-6 columns">
          <%= image_tag '2015/gyulkep.jpg' %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <h2>Accomodation</h2>
          <p>Accomodation will be provided in a downtown Hostel. You will find their website here: <a href="http://www.broadwayhostel.hu/" target="_blank">www.broadwayhostel.hu</a></p>
          <h2>Catering</h2>
          <p>We will provide vegetarian meals during the conference while always making available a dairy and egg-free vegan option. Most of the meals will be served in a box, able to be packed and taken with you. Sabbath lunch will be sandwiches for participants who register for our catering.</p>
          <h2><small>Menu</small></h2>
          <b>Lunch on January 29th:</b><br>
          <ul>
            <li>Green pea soup</li>
            <li>Lasagne with spinach and ricotta</li>
            <li>doughnut with peach jam</li>
          </ul>
          <b>Dinner on January 29th:</b><br>
          <ul>
            <li>"Vegan" green bean cassarole</li>
          </ul>
          <b>Lunch on January 30th:</b><br>
          <ul>
            <li>Broccoli cream soup</li>
            <li>Mushroom paprikash with noodles</li>
            <li>Apple pie</li>
          </ul>
          <b>Dinner on January 30th:</b><br>
          <ul>
            <li>Potato cassarole "Rác" style</li>
          </ul>
          <b>Dinner on January 31st:</b><br>
          <ul>
            <li>Vegan spaghetti bolognese</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="registration" class="content">
  <div class="row">
    <div class="small-12 columns text-center">
      <a href="<%= t 'conf_2015.register_url' %>" class="button large radius" target="_blank"><%= t 'conf_2015.register' %></a>
    </div>
  </div>
</section>
