---
anchors:
  konferencia: A konferencia
  alapelvek: Alapelvek
  vezetoseg: Vezetőség
---
<%= partial '2015_intro' %>

<%= partial 'sticky_menu' %>

<section id="konferencia" class="content">
  <div class="row">
    <div class="large-12 columns text-center">
      <h1><%= t :name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-8 columns">
      <p class="lead"><%= t :description %></p>
    </div>
    <div class="medium-4 columns">
      <%= partial 'home_slideshow' %>
    </div>
  </div>
</section>

<section id="alapelvek" class="content">
  <div class="row"><div class="small-12 columns">
    <h1>Alapelvek</h1>
    <p>Azért, hogy felemelje a Hetednapi Adventista Egyház megkülönböztető üzenetét az FJK a következőket terjeszti a tagjai elé:</p>
  </div></div>
  <div class="row">
    <div class="medium-6 columns">
      <dl>
        <dt>Az Írás tisztelete,</dt>
        <dd>mint minden tanítás és gyakorlat alapja és mérőzsinórja.</dd>
        <dt>A Prófétaság Lelkének megbecsülése,</dt>
        <dd>mint a tanács, a vigasztalás és a figyelmeztetés hiteles forrása.</dd>
        <dt>A bibliai szentség keresése</dt>
        <dd>naponkénti imán és igekutáson keresztül, az Ő Igéjének követésére való odaszánással.</dd>
        <dt>Élő istenimádati gyakorlat,</dt>
        <dd>amit az elvek, a hódolat és az illendőség jellemez.</dd>
        <dt>Az elveszett lelkek megmentésének vágya,</dt>
        <dd>amit Jézus megmentő szeretetének tapasztalata és az Ő közeli visszajövetelének vágya éltet.</dd>
      </dl>
    </div>
    <div class="medium-6 columns">
      <dl>
        <dt>Biblikus kapcsolatok másokkal,</dt>
        <dd>megőrizve a tisztaságot és erősítve a felelősségtudatot.</dd>
        <dt>Mintaértékű és értékes életstílus</dt>
        <dd>a pihenésben, a szórakozásban, az öltözködésben és az egészséges életvitelben.</dd>
        <dt>Öröm a szolgálatban,</dt>
        <dd>a rászorultakról való gondoskodásban, a lakóközösségünk szolgálatában, az emberi jogok elősegítésében, a környezettudatos életvitelben.</dd>
        <dt>Elkötelezettség a Hetednapi Adventista Egyház mellett,</dt>
        <dd>mivel ez Isten maradék egyháza, támogatjuk és erősítjük az elveit, a szervezetét és a vezetését.</dd>
        <dt>Alázatosság és szivélyesség lelkülete,</dt>
        <dd>miközben kutatjuk, kifejezzük és védjük a Hetednapi Adventista Egyház bibliai tanításait.</dd>
      </dl>
    </div>
  </div>
</section>

<div class="photo-insert"></div>

<section id="vezetoseg" class="content text-center">
  <div class="row"><div class="small-12 columns">
    <h1>Vezetőség</h1>
  </div></div>
  <div class="row">
    <div class="medium-4 columns">
      <h2><small>Bizottság</small></h2>
      <ul class="no-bullet">
        <li>Bácsi László <em>elnök</em></li>
        <li>Ambrus Orsolya <em>alelnök</em></li>
        <li>Rajki Melinda <em>titkár</em></li>
        <li>Ambrus Zoltán <em>pénztáros</em></li>
        <li>Szőllősi Enikő</li>
        <li>Rárósi Dávid</li>
        <li>Kárpáti Csilla</li>
        <li>Tóth Eszter</li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h2><small>Igazgatótanács</small></h2>
      <ul class="no-bullet">
        <li>Ambrus András</li>
        <li>Csengei Károly</li>
        <li>Deák Judit</li>
        <li>Kökéndy Zoltán</li>
        <li>Ócsai Tamás</li>
        <li>Ömböli Krisztián</li>
        <li>Szabó László</li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h2><small>Munkacsoportok</small></h2>
      <ul class="no-bullet">
        <li>Kommunikáció  – <em>Tóth Eszter</em></li>
        <li>Logisztika    – <em>Rajki Melinda</em></li>
        <li>Média         – <em>Rárósi Dávid</em></li>
        <li>Misszió       – <em>Szabó Zsuzsanna</em></li>
        <li>Program       – <em>Kárpáti Csilla</em></li>
      </ul>
    </div>
  </div>
</section>
