---
anchors:
  Konferenciák:
    fjk-2015-media: FJK 2015 „A keresztnél”
    fjk-2014-media: FJK 2014 „Emberek és angyalok előtt”
    fjk-2013-media: FJK 2013 „Cselekedj!”
    fjk-2012-media: FJK 2012 „Tölts be!”
    fjk-2011-media: FJK 2011 „IGEn”
---
<%= partial 'sticky_menu' %>
<section id="fjk-2015-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2015 „A keresztnél”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenárisok</h2>
          <h3>Szerda</h3>
          <dl>
            <dt>Nyitó gondolatok – Szőllősi Enikő</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/YrEbt3CcyJk?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Péntek</h3>
          <dl>
            <dt>Reggeli áhítat – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/FzJ92Zy7HK8?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat - Szabó László</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/wj_yJquXADo?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Vasárnap</h3>
          <dl>
            <dt>Reggeli áhítat - Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/8eRtKU_DGW8?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Záró prédikáció – Szabó László</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/MyxkcinyhrI?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>&nbsp;</h2>
          <h3>Csütörtök</h3>
          <dl>
            <dt>Reggeli áhítat – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/XbHc9WfEv4Q?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat - Szabó László</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/OxcUbQhnZEQ?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Szombat</h3>
          <dl>
            <dt>Reggeli áhítat – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/LpfROdTm9D8?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Délelőtti istentisztelet - Zarka Péter és Szabó László</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/OXSno2G5Dp0?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Szallós-Farkas Zoltán bizonyságtétele</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/6GM0E2cpZVE?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat - Szabó László</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/vGv21f25m-s?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2014-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2014 „Emberek és angyalok előtt”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenárisok</h2>
          <h3>Szerda</h3>
          <dl>
            <dt>Nyitó gondolatok – Bácsi László</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/tOO18Bt09Ik?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat – Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/byBe-DdH-0k?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Péntek</h3>
          <dl>
            <dt>Reggeli áhítat – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/C9Udpr31fj0?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Sebastian Matula bizonyságtétele</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/EuGjU5CBx-A?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat - Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/vHdPqVfJcC0?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Vasárnap</h3>
          <dl>
            <dt>Bizottság átadás</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/8ixrIeixASk?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Záró prédikáció – Szőllősi Enikő</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/78h2F4Puk_U?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>&nbsp;</h2>
          <h3>Csütörtök</h3>
          <dl>
            <dt>Reggeli áhítat – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/CH0eD9QXEqU?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Zippora Anson bizonyságtétele</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/kbn7D6X5jFc?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat - Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/D3oLbeuwLNY?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Szombat</h3>
          <dl>
            <dt>Reggeli áhítat – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/zH4BNbXSP70?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Délelőtti istentisztelet - Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/VEnzxjKyPYs?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Esti áhítat - Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/ZDWRBEDnDfQ?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2013-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2013 „Cselekedj!”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenárisok</h2>
          <h3>Csütörtök</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Esti áhítat – Sebastien Braxton", file: "/2013/evening-devotionals/02-sebastien_braxton-thursday_evening_devotional.mp3" } %>
          </dl>
          <h3>Péntek</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Reggeli áhítat – Jonathan Walter", file: "/2013/morning-devotionals/02-jonathan_walter-friday_morning_devotional.mp3" } %>
            <%= partial 'audio', locals: { title: "Sebastien Braxton bizonyságtétele", file: "/2013/plenary-sessions/03-sebastien_braxton-testimony_of_sebastien_braxton.mp3" } %>
            <%= partial 'audio', locals: { title: "Esti áhítat – Sebastien Braxton", file: "/2013/evening-devotionals/03-sebastien_braxton-friday_evening_devotional.mp3" } %>
          </dl>
          <h3>Szombat</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Reggeli áhítat – Jonathan Walter", file: "/2013/morning-devotionals/03-jonathan_walter-sabbath_morning_devotional.mp3" } %>
            <%= partial 'audio', locals: { title: "Délelőtti istentisztelet – Sebastien Braxton", file: "/2013/evening-devotionals/04-sebastien_braxton-sabbath_divine_service.mp3" } %>
            <%= partial 'audio', locals: { title: "Esti áhítat – Sebastien Braxton", file: "/2013/evening-devotionals/05-sebastien_braxton-sabbath_evening_devotional.mp3" } %>
          </dl>
          <h3>Vasárnap</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Reggeli áhítat – Jonathan Walter", file: "/2013/morning-devotionals/04-jonathan_walter-sunday_morning_devotional.mp3" } %>
            <%= partial 'audio', locals: { title: "Záró prédikáció – Bácsi László", file: "/2013/plenary-sessions/04-bacsi_laszlo-final_charge.mp3" } %>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>Szemináriumok</h2>
          <h3>Szolgálni a világban – Sebastien Braxton</h3>
          <dl>
            <%= partial 'audio', locals: { title: "A világi eredet", file: "/2013/seminar-serving-in-the-secular/02-sebastien_braxton-the_secular_origins.mp3" } %>
            <%= partial 'audio', locals: { title: "A világi küzdelem", file: "/2013/seminar-serving-in-the-secular/03-sebastien_braxton-the_secular_struggle.mp3" } %>
            <%= partial 'audio', locals: { title: "A világi probléma", file: "/2013/seminar-serving-in-the-secular/04-sebastien_braxton-the_secular_problem.mp3" } %>
          </dl>
          <h3>Hogyan kelts lelki érdeklődést magadban és másokban – Craig Gooden</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Vágy továbbadni", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/01-craig_gooden-the_urge_to_share.mp3" } %>
            <%= partial 'audio', locals: { title: "A kapás és vesztés krízise", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/02-craig_gooden-the_crisis_of_getting_and_loosing.mp3" } %>
            <%= partial 'audio', locals: { title: "Az ellenséges, a közönyös és a kereső", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/03-craig_gooden-the_hostile_apathetic_and_searcher.mp3" } %>
            <%= partial 'audio', locals: { title: "Istenre hagyatkozva", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/04-craig_gooden-depending_on_god.mp3" } %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2012-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2012 „Tölts be!”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenárisok</h2>
          <h3>Szerda</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Nyitó gondolatok – Bácsi László", file: "/2012/plenaries/01-laszlo_bacsi-opening_message.mp3" } %>
            <%= partial 'audio', locals: { title: "Esti áhítat – Justin Kim", file: "/2012/plenaries/02-justin_kim-wednesday_evening.mp3" } %>
          </dl>
          <h3>Csütörtök</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Délelőtti plenáris – Jan Harry Cabungcal", file: "/2012/plenaries/03-jan_harry_cabungcal-thursday_morning_plenary.mp3" } %>
            <%= partial 'audio', locals: { title: "Esti áhítat – Justin Kim", file: "/2012/plenaries/04-justin_kim-thursday_evening_devotional.mp3" } %>
          </dl>
          <h3>Péntek</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Délelőtti plenáris – Jan Harry Cabungcal", file: "/2012/plenaries/05-jan_harry_cabungcal-friday_morning_plenary.mp3" } %>
            <%= partial 'audio', locals: { title: "Esti áhítat – Justin Kim", file: "/2012/plenaries/06-justin_kim-friday_evening_devotional.mp3" } %>
          </dl>
          <h3>Szombat</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Kerekasztal beszélgetés – Lease Hodges", file: "/2012/plenaries/07-leasa_hodges-youth_for_jesus_panel_discussion.mp3" } %>
            <%= partial 'audio', locals: { title: "Délelőtti istentisztelet – Jan Harry Cabungcal", file: "/2012/plenaries/08-jan_harry_cabungcal-saturday_worship_service.mp3" } %>
            <%= partial 'audio', locals: { title: "Esti áhítat – Justin Kim", file: "/2012/plenaries/09-justin_kim-saturday_evening_devotional.mp3" } %>
          </dl>
          <h3>Vasárnap</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Záró plenáris – Jan Harry Cabungcal", file: "/2012/plenaries/10-jan_harry_cabungcal-sunday_commitment_service.mp3" } %>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>Szemináriumok</h2>
          <h3>Nehémiás: Tanulmányok a Biblikus Vezetésről – Justin Kim</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Nehémiás 1-3: Ima és Felkészülés", file: "/2012/seminars/justin_kim/01-justin_kim-nehemiah_1-3.mp3" } %>
            <%= partial 'audio', locals: { title: "Nehémiás 4-7: Cél és Ellenállás", file: "/2012/seminars/justin_kim/02-justin_kim-nehemiah_4-7.mp3" } %>
            <%= partial 'audio', locals: { title: "Nehémiás 8-10: Újjászületés és Megemlékezés", file: "/2012/seminars/justin_kim/03-justin_kim-nehemiah_8-10.mp3" } %>
            <%= partial 'audio', locals: { title: "Nehémiás 10-13: Örökség és Lankadás", file: "/2012/seminars/justin_kim/04-justin_kim-nehemiah_10-13.mp3" } %>
          </dl>
          <h3>Bevégezni a Munkát Ebben a Generációban – Leasa Hodges</h3>
          <dl>
            <%= partial 'audio', locals: { title: "A fiatalok felemelkedése / „A fiatalok hadserege, helyesen képezve”", file: "/2012/seminars/leasa_hodges/01-leasa_hodges-rising_of_the_youth.mp3" } %>
            <%= partial 'audio', locals: { title: "Bemutatni az egész Evangéliumot I-II. (DVD képzés)", file: "/2012/seminars/leasa_hodges/02-leasa_hodges-presenting_the_whole_gospel.mp3" } %>
          </dl>
          <h3>Bevégezni a Munkát Ebben a Generációban – Leasa Hodges</h3>
          <dl>
            <%= partial 'audio', locals: { title: "„Teremté az Isten az embert az ő képére, Isten képére teremté őt: férfiúvá és asszonnyá teremté őket.”", file: "/2012/seminars/vegh_jozsef/01-vegh_jozsef-unity_of_sexes_by_the_holy_spirit.mp3" } %>
            <%= partial 'audio', locals: { title: "„A hajadonok felől nincs ugyan parancsolatom az Úrtól, de tanácsot adok úgy, mint a ki irgalmasságot nyertem”", file: "/2012/seminars/vegh_jozsef/02-vegh_jozsef-guidance_of_the_holy_spirit_in_choosing_wisely_1.mp3" } %>
            <%= partial 'audio', locals: { title: "„Derék asszonyt kicsoda találhat? Mert ennek ára sokkal felülhaladja az igazgyöngyöket.”", file: "/2012/seminars/vegh_jozsef/03-vegh_jozsef-guidance_of_the_holy_spirit_in_choosing_wisely_2.mp3" } %>
            <%= partial 'audio', locals: { title: "„Lesznek ketten egy testté”", file: "/2012/seminars/vegh_jozsef/04-vegh_jozsef-guidance_of_the_holy_spirit_in_family_life.mp3" } %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2011-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2011 „IGEn”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Szemináriumok</h2>
          <h3>Gyülekezetek megújulásának elősegítése – Jay Rosario</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Gyülekezetek megújulásának elősegítése, 1. rész", file: "/2011/01-jay_rosario-helping_churches_experience_revival_part_1.mp3" } %>
            <%= partial 'audio', locals: { title: "Gyülekezetek megújulásának elősegítése, 2. rész", file: "/2011/02-jay_rosario-helping_churches_experience_revival_part_2.mp3" } %>
            <%= partial 'audio', locals: { title: "Kiscsoportok és a végidei megújulás", file: "/2011/03-jay_rosario-small_groups_and_end-time_revival.mp3" } %>
            <%= partial 'audio', locals: { title: "Az evangélizálás mesteri terve", file: "/2011/04-jay_rosario-the_master_plan_of_evangelism.mp3" } %>
          </dl>
          <h3>„Ki vagyok én?” – Szabó László</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Az „igazi” élet kezdete", file: "/2011/05-szabo_laszlo-az_igazi_elet_kezdete.mp3" } %>
            <%= partial 'audio', locals: { title: "Az ördög megváltási terve", file: "/2011/06-szabo_laszlo-az_ordog_megvaltasi_terve.mp3" } %>
            <%= partial 'audio', locals: { title: "Állásajánlat a mennyből extra jutalommal", file: "/2011/07-szabo_laszlo-allasajanlat_a_mennybol_extra_jutalommal.mp3" } %>
            <%= partial 'audio', locals: { title: "Ciki? Furcsa? Mit szólnak hozzá?", file: "/2011/08-szabo_laszlo-ciki_furcsa_mit_szolnak_hozza.mp3" } %>
          </dl>
          <h3>Egy ősi törvény a 21. században – Ócsai Tamás</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Korunk társadalmi és erkölcsi problémái és a Tízparancsolat", file: "/2011/09-ocsai_tamas-korunk_tarsadalmi_es_erkolcsi_problemai_es_a_tizparancsolat.mp3" } %>
            <%= partial 'audio', locals: { title: "A Tízparancsolat és a társadalom", file: "/2011/10-ocsai_tamas-a_tizparancsolat_es_a_tarsadalom.mp3" } %>
            <%= partial 'audio', locals: { title: "Az ölés határesetei", file: "/2011/11-ocsai_tamas-az_oles_hataresetei.mp3" } %>
            <%= partial 'audio', locals: { title: "Házasságtörés házastárs vagy harmadik személy nélkül?", file: "/2011/12-ocsai_tamas-hazassagtores_hazastars_vagy_harmadik_szemely_nelkul.mp3" } %>
          </dl>
          <h3>Legyen Világosság – Kevin Sears</h3>
          <dl>
            <%= partial 'audio', locals: { title: "A fény sokszorosítása – Isteni megközelítés / Duplázd meg Isten örömét", file: "/2011/13-kevin_sears-reproducing_the_light_divine_approach_double_gods_joy.mp3" } %>
            <%= partial 'audio', locals: { title: "A fény őrzése – Akadályok és előítéletek", file: "/2011/14-kevin_sears-guarding_the_light_barriers_and_prejudice.mp3" } %>
            <%= partial 'audio', locals: { title: "A fény hordozása – Hogyan kezdeményezzünk bibliaórát", file: "/2011/15-kevin_sears-carrying_the_light_how_to_get_bible_studies.mp3" } %>
            <%= partial 'audio', locals: { title: "A fény továbbadása – Hogyan adjunk bibliaórát", file: "/2011/16-kevin_sears-sharing_the_light_how_to_give_a_bible_study.mp3" } %>
          </dl>
        </div>
        <div class="medium-6 columns">
        </div>
      </div>
    </div>
  </div>
</section>
