---
anchors:
  Conferences:
    fjk-2015-media: FJK 2015 “At the Cross”
    fjk-2014-media: FJK 2014 “Before Men and Angels”
    fjk-2013-media: FJK 2013 “Act!”
    fjk-2012-media: FJK 2012 “Fill Me!”
---
<%= partial 'sticky_menu' %>
<section id="fjk-2015-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2015 “At the Cross”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenaries</h2>
          <h3>Wednesday</h3>
          <dl>
            <dt>Opening message – Enikő Szőllősi</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/YrEbt3CcyJk?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Friday</h3>
          <dl>
            <dt>Morning devotional – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/FzJ92Zy7HK8?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening devotional - László Szabó</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/wj_yJquXADo?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Sunday</h3>
          <dl>
            <dt>Morning devotional - Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/8eRtKU_DGW8?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Closing plenary – László Szabó</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/MyxkcinyhrI?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>&nbsp;</h2>
          <h3>Thursday</h3>
          <dl>
            <dt>Morning devotional – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/XbHc9WfEv4Q?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening devotional - László Szabó</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/OxcUbQhnZEQ?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Sabbath</h3>
          <dl>
            <dt>Morning devotional – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/LpfROdTm9D8?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Divine service - Péter Zarka and László Szabó</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/OXSno2G5Dp0?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Testimony of Zoltán Szallós-Farkas</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/6GM0E2cpZVE?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening devotional - László Szabó</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/vGv21f25m-s?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2014-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2014 „Before Men and Angels”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenaries</h2>
          <h3>Wednesday</h3>
          <dl>
            <dt>Opening message – László Bácsi</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/tOO18Bt09Ik?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening Devotional – Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/byBe-DdH-0k?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Friday</h3>
          <dl>
            <dt>Morning Devotional – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/C9Udpr31fj0?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Testimony of Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/EuGjU5CBx-A?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening Devotional - Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/vHdPqVfJcC0?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Sunday</h3>
          <dl>
            <dt>Inauguration of new Committee</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/8ixrIeixASk?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Closing plenary – Enikő Szőllősi</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/78h2F4Puk_U?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>&nbsp;</h2>
          <h3>Thursday</h3>
          <dl>
            <dt>Morning Devotional – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/CH0eD9QXEqU?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Testimony of Zippora Anson</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/kbn7D6X5jFc?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening Devotional - Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/D3oLbeuwLNY?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
          <h3>Sabbath</h3>
          <dl>
            <dt>Morning Devotional – Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/zH4BNbXSP70?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Worship Service - Daniel Pel</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/VEnzxjKyPYs?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
            <dt>Evening Devotional - Sebastian Matula</dt>
            <dd>
              <div style="position:relative;width:267px;height:32px;overflow:hidden;">
                <div style="position:absolute;top:-267px;left:-5px">
                  <iframe width="300" height="300" 
                    src="https://www.youtube.com/embed/ZDWRBEDnDfQ?autohide=0&rel=0">
                  </iframe>
                </div>
              </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2013-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2013 “Act!”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenaries</h2>
          <h3>Thursday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Evening Devotional – Sebastien Braxton", file: "/2013/evening-devotionals/02-sebastien_braxton-thursday_evening_devotional.mp3" } %>
          </dl>
          <h3>Friday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Morning Devotional – Jonathan Walter", file: "/2013/morning-devotionals/02-jonathan_walter-friday_morning_devotional.mp3" } %>
            <%= partial 'audio', locals: { title: "Testimony of Sebastien Braxton", file: "/2013/plenary-sessions/03-sebastien_braxton-testimony_of_sebastien_braxton.mp3" } %>
            <%= partial 'audio', locals: { title: "Evening Devotional – Sebastien Braxton", file: "/2013/evening-devotionals/03-sebastien_braxton-friday_evening_devotional.mp3" } %>
          </dl>
          <h3>Sabbath</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Morning Devotional – Jonathan Walter", file: "/2013/morning-devotionals/03-jonathan_walter-sabbath_morning_devotional.mp3" } %>
            <%= partial 'audio', locals: { title: "Divine Service – Sebastien Braxton", file: "/2013/evening-devotionals/04-sebastien_braxton-sabbath_divine_service.mp3" } %>
            <%= partial 'audio', locals: { title: "Evening Devotional – Sebastien Braxton", file: "/2013/evening-devotionals/05-sebastien_braxton-sabbath_evening_devotional.mp3" } %>
          </dl>
          <h3>Sunday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Morning Devotional – Jonathan Walter", file: "/2013/morning-devotionals/04-jonathan_walter-sunday_morning_devotional.mp3" } %>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>Seminars</h2>
          <h3>Serving in the Secular – Sebastien Braxton</h3>
          <dl>
            <%= partial 'audio', locals: { title: "The Secular Origins", file: "/2013/seminar-serving-in-the-secular/02-sebastien_braxton-the_secular_origins.mp3" } %>
            <%= partial 'audio', locals: { title: "The Secular Struggle", file: "/2013/seminar-serving-in-the-secular/03-sebastien_braxton-the_secular_struggle.mp3" } %>
            <%= partial 'audio', locals: { title: "The Secular Problem", file: "/2013/seminar-serving-in-the-secular/04-sebastien_braxton-the_secular_problem.mp3" } %>
          </dl>
          <h3>Awakening Spiritual Interest in you and others – Craig Gooden</h3>
          <dl>
            <%= partial 'audio', locals: { title: "The Urge to Share", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/01-craig_gooden-the_urge_to_share.mp3" } %>
            <%= partial 'audio', locals: { title: "The Crisis of Getting and Loosing", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/02-craig_gooden-the_crisis_of_getting_and_loosing.mp3" } %>
            <%= partial 'audio', locals: { title: "The Hostile, Apathetic and Searcher", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/03-craig_gooden-the_hostile_apathetic_and_searcher.mp3" } %>
            <%= partial 'audio', locals: { title: "Depending on God", file: "/2013/seminar-awakening-spiritual-interest-in-you-and-others/04-craig_gooden-depending_on_god.mp3" } %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="fjk-2012-media" class="content">
  <div class="row">
    <div class="medium-12 columns">
      <h1>FJK 2012 “Fill Me!”</h1>
      <div class="row">
        <div class="medium-6 columns">
          <h2>Plenaries</h2>
          <h3>Wednesday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Opening Message – László Bácsi", file: "/2012/plenaries/01-laszlo_bacsi-opening_message.mp3" } %>
            <%= partial 'audio', locals: { title: "Evening Devotional – Justin Kim", file: "/2012/plenaries/02-justin_kim-wednesday_evening.mp3" } %>
          </dl>
          <h3>Thursday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Morning Plenary – Jan Harry Cabungcal", file: "/2012/plenaries/03-jan_harry_cabungcal-thursday_morning_plenary.mp3" } %>
            <%= partial 'audio', locals: { title: "Evening Devotional – Justin Kim", file: "/2012/plenaries/04-justin_kim-thursday_evening_devotional.mp3" } %>
          </dl>
          <h3>Friday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Morning Plenary – Jan Harry Cabungcal", file: "/2012/plenaries/05-jan_harry_cabungcal-friday_morning_plenary.mp3" } %>
            <%= partial 'audio', locals: { title: "Evening Devotional – Justin Kim", file: "/2012/plenaries/06-justin_kim-friday_evening_devotional.mp3" } %>
          </dl>
          <h3>Sabbath</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Panel Discussion – Lease Hodges", file: "/2012/plenaries/07-leasa_hodges-youth_for_jesus_panel_discussion.mp3" } %>
            <%= partial 'audio', locals: { title: "Worship Service – Jan Harry Cabungcal", file: "/2012/plenaries/08-jan_harry_cabungcal-saturday_worship_service.mp3" } %>
            <%= partial 'audio', locals: { title: "Evening Devotional – Justin Kim", file: "/2012/plenaries/09-justin_kim-saturday_evening_devotional.mp3" } %>
          </dl>
          <h3>Sunday</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Closing Plenary – Jan Harry Cabungcal", file: "/2012/plenaries/10-jan_harry_cabungcal-sunday_commitment_service.mp3" } %>
          </dl>
        </div>
        <div class="medium-6 columns">
          <h2>Seminars</h2>
          <h3>Nehemiah: Studies on Biblical Leadership – Justin Kim</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Nehemiah 1-3: Prayer and Preparation", file: "/2012/seminars/justin_kim/01-justin_kim-nehemiah_1-3.mp3" } %>
            <%= partial 'audio', locals: { title: "Nehemiah 4-7: Objective and Opposition", file: "/2012/seminars/justin_kim/02-justin_kim-nehemiah_4-7.mp3" } %>
            <%= partial 'audio', locals: { title: "Nehemiah 8-10: Revival and Remembrance", file: "/2012/seminars/justin_kim/03-justin_kim-nehemiah_8-10.mp3" } %>
            <%= partial 'audio', locals: { title: "Nehemiah 10-13: Legacy and Languish", file: "/2012/seminars/justin_kim/04-justin_kim-nehemiah_10-13.mp3" } %>
          </dl>
          <h3>Finishing the Work in This Generation! – Leasa Hodges</h3>
          <dl>
            <%= partial 'audio', locals: { title: "Rising of the Youth / “An Army of Youth, Rightly Trained”", file: "/2012/seminars/leasa_hodges/01-leasa_hodges-rising_of_the_youth.mp3" } %>
            <%= partial 'audio', locals: { title: "Presenting the Whole Gospel I-II. (DVD training)", file: "/2012/seminars/leasa_hodges/02-leasa_hodges-presenting_the_whole_gospel.mp3" } %>
          </dl>
          <h3>The Guidance of the Holy Spirit in Marriage - József Végh</h3>
          <dl>
            <%= partial 'audio', locals: { title: "“So God created man in his own image, in the image of God created he him; male and female created he them.”", file: "/2012/seminars/vegh_jozsef/01-vegh_jozsef-unity_of_sexes_by_the_holy_spirit.mp3" } %>
            <%= partial 'audio', locals: { title: "“Now concerning virgins I have no commandment of the Lord: yet I give my judgment, as one that hath obtained mercy of the Lord to be faithful.”", file: "/2012/seminars/vegh_jozsef/02-vegh_jozsef-guidance_of_the_holy_spirit_in_choosing_wisely_1.mp3" } %>
            <%= partial 'audio', locals: { title: "“Who can find a virtuous woman? for her price is far above rubies.”", file: "/2012/seminars/vegh_jozsef/03-vegh_jozsef-guidance_of_the_holy_spirit_in_choosing_wisely_2.mp3" } %>
            <%= partial 'audio', locals: { title: "“And they shall be one flesh.”", file: "/2012/seminars/vegh_jozsef/04-vegh_jozsef-guidance_of_the_holy_spirit_in_family_life.mp3" } %>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
