doctype html
html

  include head

  body.page-content(data-spy='scroll', data-target='#main-nav')

    include nav

    div
      section#hero
        .conferences-2016-hero
          .hero-content-wr
            .hero-content
              h1.conference-title #{ content.title }
              h2.conference-dates #{ content.dates }
              h2.conference-location #{ content.location }
              p.conference-motto !{ content.motto }

      section#speakers
        .speakers
          h1 #{ content.speakers.title }
          each speaker in content.speakers.speakers
            .speaker
              .photo-wr.animated
                .photo
                  img.img-responsive(src=page.assetsPath + speaker.img, alt=speaker.name)
              .caption.animated
                .name
                  h3 #{ speaker.name }
                  span.small #{ speaker.description }
                .bio
                  p #{ speaker.bio }

      section#seminars.inverted
        .seminars
          h1 #{ content.seminars.title }
          each seminar in content.seminars.seminars
            .seminar.animated
              .seminar-wr
                .seminar-title
                  h3 !{ seminar.title }
                  span #{ seminar.speaker }
                .description
                  p !{ seminar.description }

      include schedule-hu

      section#venue
        h1 #{ content.venue.title }
        .venue
          .row
            .veneu-desc
              h2 #{ content.venue.name }
              address #{ content.venue.address }
              p
                a(href='https://www.google.com/maps?ll=47.509244,19.089315&z=16&t=m&hl=en-US&gl=HU&mapclient=embed&cid=3891721808783336383' target='_blank' role='button') #{ content.venue.description.showOnMap }

              p !{ content.venue.description.text }
          .row
            .col-md-4
              img.img-responsive(src=page.assetsPath + '/img/durer_2.jpg', alt='FJK Venue 2016')
            .col-md-4
              img.img-responsive(src=page.assetsPath + '/img/durer_1.jpg', alt='FJK Venue 2016')
            .col-md-4
              img.img-responsive(src=page.assetsPath + '/img/durer_3.jpg', alt='FJK Venue 2016')

    include foot
