doctype html
html

  include head

  body.page-content(data-spy='scroll', data-target='#main-nav')

    include nav

    div
      section#home
        svg#header-svg
        .home
          .container
            .row
              h1 #{ page.title }
            if page.live.isOn
              a.registrationButton.landing(href=page.live.url role='button') #{page.live.cta}
            if page.mini.isOn
              a.registrationButton.landing(href=page.mini.url role='button') #{page.mini.cta}
            if page.regIsOn
              a.registrationButton.landing(href=content.registration.url role='button') #{content.registration.text}
            .social
              .youtube.social-icon
                a(href='https://www.youtube.com/channel/UCA4IZxNaPmDCrQrG-ToCwBA/feed', target='_blank')
                  i.fa.fa-youtube-square
                    span YouTube
              .facebook.social-icon
                a(href='https://www.facebook.com/FiatalokJezusertKonferencia', target='_blank')
                  i.fa.fa-facebook-square
                    span Facebook


      section#conference
        .conference
          .conference-desc
            | !{ content.bio }

      section#spirit.inverted
        .spirit
          h1 #{ content.spirit.title }
          h4 #{ content.spirit.subtitle }
          dl.spirit-list
            each item, i in content.spirit.items
              .animated(data-wow-delay='0.' + (i - i % 2) + 's')
                dt #{ item.title }
                dd #{ item.subtitle }

      //section#leadership
      //  .leadership
      //    h1 #{ content.leadership.title }
      //    #executive-committee.animated.leadership-list(data-wow-delay='0.3s')
      //      h2 #{ content.leadership.ecom.title }
      //      ul
      //        each member in content.leadership.ecom.members
      //          li
      //            | !{ member }
      //
      //    #board-of-directors.animated.leadership-list(data-wow-delay='0.3s')
      //      h2 #{ content.leadership.board.title }
      //      ul
      //        each member in content.leadership.board.members
      //          li #{ member }
      //
      //    #departments.animated.leadership-list(data-wow-delay='0.3s')
      //      h2 #{ content.leadership.departments.title }
      //      ul
      //        each member in content.leadership.departments.members
      //          li
      //            | #{ member.dep }
      //            em #{ member.name }

    include foot
