doctype html
html

  include head

  body.page-content(data-spy='scroll', data-target='#main-nav')

    include nav

    div
      section#hero
        div(class="conferences-hero conferences-mini-hero")
          .hero-content-wr
            .hero-content
              h1.conference-title #{ content.title }
              h2.conference-dates #{ content.dates }
              h2.conference-location #{ content.location }
              p.conference-motto !{ content.motto }

              a.registrationButton(href=content.registration.url role='button') #{content.registration.text}

      section#speakers
        .speakers
          h1 #{ content.speakers.title }
          each speaker in content.speakers.speakers
            .speaker
              .photo-wr.animated
                .photo
                  if speaker.img
                    img.img-responsive(src=page.assetsPath + speaker.img, alt=speaker.name)
              .caption.animated
                .name
                  h3 #{ speaker.name }
                  span.small #{ speaker.description }
                .bio
                  p !{ speaker.bio }

      section#info.inverted
        .seminars
          h1 Információk
          .animated.col-md-offset-2
            dt Előadások és program helyszíne:
            dd 2300 Ráckeve, Bajcsy-Zsilinszky. u. 90.
          .animated.col-md-offset-2
            dt Regisztrációs költség: 4000 Ft/fő
            dd Regisztráció határideje: 2017. március 27. (hétfő), 23:59
          .animated.col-md-offset-2
            dt Befizetés menete:
            dd Helyszíni regisztrációkor.
          .animated.col-md-offset-2
            dt Befizetéssel kapcsolatos információk:
            dd
              | A teljes összeg tartalmazza a programokon való részvételt, étkezés és szállást. Fiúk motelben lesznek elszállásolva, hölgyek pedig a gyülekezetben.
          .animated.col-md-offset-2
            dt Szállás:
            dd
              | FIGYELEM! Csak az első 60 regisztrálót tudjuk fogadni. Akik a gyülekezetben aludnak, azoknak az alváshoz szükséges magukkal hozni: POLIFON, HÁLÓZSÁK.<br>
              | FIGYELEM! Aki nem kér szállást és részt kíván venni a programokon, mindenképpen jeleznie kell ezt felénk!
          .animated.col-md-offset-2
            dt Étkezés:
            dd
              | 2017. március 31. (péntek):
              strong  vacsora
              br
              | 2017. április 1. (szombat):
              strong  reggeli-ebéd-vacsora
              br
              | 2017. április 2. (vasárnap):
              strong  reggeli
          .animated.col-md-offset-2
            dt Helyszíni regisztráció:
            dd
              | 2017. március 31., pénteken 16:00-18:15-ig.
              br
              | Helyszín: 2300 Ráckeve, Bajcsy-Zsilinszky. u. 90.


      section#registration
        .registration
          a.registrationButton(href=content.registration.url role='button') #{ content.registration.text }
    include foot
