doctype html
html

  include head

  body.page-content(data-spy='scroll', data-target='#main-nav')

    include nav

    if (!page.regIsOn)
      section(style='text-align:center; padding:200px 0 100px;')
        p #{page.regIsClosed}
    else
      script(type='text/javascript') window.assetsPath = '#{ page.assetsPath }';
      div
        section#register
          .too-small-display #{ content.errors.smallDisplay }
          .register
            .reg-form
              form#registrationForm(role='form', data-toggle='validator')
                ul#progressbar
                  each tab, i in content.tabs
                    if (i == 0)
                      li.active #{ tab.title }
                    else
                      li #{ tab.title }

                .tab
                  h2.fs-title #{ content.tabs.conference.title }
                  .conference-tab
                    .radio
                      label
                        input#attendanceFull(type='radio', name='attendance', value='full', data-price='3000', checked='')
                        | #{ content.tabs.conference.attendance.full }
                    .radio
                      label
                        input#attendanceSabbath(type='radio', name='attendance', value='sabbath', data-price='0')
                        | #{ content.tabs.conference.attendance.sabbath }
                    hr
                    h2.fs-section-title #{ content.tabs.conference.meal.title }
                    table.table
                      thead
                        tr
                          th
                          th #{ content.tabs.conference.meal.thursday }
                          th #{ content.tabs.conference.meal.friday }
                          th #{ content.tabs.conference.meal.sabbath }
                      tbody
                        tr
                          th(scope='row') #{ content.tabs.conference.meal.lunch }
                          td
                            label.checkbox-inline
                              input(type='checkbox', value='thursday', name='lunch', data-price='1400')
                              | 1400 Ft
                          td
                            label.checkbox-inline
                              input(type='checkbox', value='friday', name='lunch', data-price='1400')
                              | 1400 Ft
                          td
                            label.checkbox-inline
                              input(type='checkbox', value='sabbath', name='lunch', data-price='800')
                              | 800 Ft
                        tr
                          th(scope='row') #{ content.tabs.conference.meal.dinner }
                          td
                            label.checkbox-inline
                              input(type='checkbox', value='thursday', name='dinner', data-price='800')
                              | 800 Ft
                          td
                            label.checkbox-inline
                              input(type='checkbox', value='friday', name='dinner', data-price='800')
                              | 800 Ft
                          td
                            label.checkbox-inline
                              input(type='checkbox', value='sabbath', name='dinner', data-price='800')
                              | 800 Ft

                  input.previous.action-button(type='button', name='previous', value=content.prev)
                  input.next.action-button(type='button', name='next', value=content.next)

                .tab
                  .housing-tab
                    h2.fs-section-title #{ content.tabs.housing.title }
                    h3.fs-subtitle !{ content.tabs.housing.subtitle }

                    h2.fs-section-title(style='margin: auto') !{ content.tabs.housing.options[0].title }
                    h3.fs-subtitle !{ content.tabs.housing.options[0].subtitle }
                    | !{ content.tabs.housing.options[0].text }

                    div
                      each option in content.tabs.housing.options
                        hr
                        h2.fs-section-title(style='margin: auto') !{ option.title }
                        h3.fs-subtitle !{ option.subtitle }
                        | !{ option.text }

                  input.previous.action-button(type='button', name='previous', value=content.prev)
                  input.next.action-button(type='button', name='next', value=content.next)

                .tab
                  h2.fs-title #{ content.tabs.program.title }
                  h3.fs-subtitle #{ content.tabs.program.subtitle }
                    .program-tab
                      .form-group
                        label
                        | #{ content.tabs.program.label }
                        .checkbox
                          label
                            input(type='checkbox', name='voluntary', value=content.tabs.program.translate)
                            | #{ content.tabs.program.translate }
                        //.checkbox
                          label
                            input(type='checkbox', name='voluntary', value=content.tabs.program.smallGroups)
                            | #{ content.tabs.program.smallGroups }
                        .checkbox
                          label
                            input(type='checkbox', name='voluntary', value=content.tabs.program.diaconia)
                            | #{ content.tabs.program.diaconia }
                        .checkbox
                          label
                            input#otherVoluntaryChB(type='checkbox', name='voluntary', value='other')
                            | #{ content.tabs.program.other }
                            input#otherVoluntaryText.form-control(type='text', name='voluntary-text', placeholder=content.tabs.program.other)

                  input.previous.action-button(type='button', name='previous', value=content.prev)
                  input.next.action-button(type='button', name='next', value=content.next)

                .tab
                  .support-tab
                    h2.fs-section-title
                    | #{ content.tabs.support.label }
                    h3.fs-subtitle !{ content.tabs.support.description }
                    .radio
                      label
                        input(type='radio', name='swag-color', value='red', checked)
                        span.small  #{ content.tabs.support.colors.red }
                    .radio
                      label
                        input(type='radio', name='swag-color', value='green')
                        span.small  #{ content.tabs.support.colors.green }
                    .radio
                      label
                        input(type='radio', name='swag-color', value='blue')
                        span.small  #{ content.tabs.support.colors.blue }

                    #swag
                      .radio
                        label
                          input(type='radio', name='swag', value='extra_3', data-swag='extra_3', data-price='4000')
                          | 4000 Ft
                          span.small  #{ content.tabs.support['extra_3'] }
                      .radio
                        label
                          input(type='radio', name='swag', value='extra_2', data-swag='extra_2', data-price='4000')
                          | 4000 Ft
                          span.small  #{ content.tabs.support['extra_2'] }
                      .radio
                        label
                          input(type='radio', name='swag', value='extra_1', data-swag='extra_1', data-price='4000')
                          | 4000 Ft
                          span.small  #{ content.tabs.support['extra_1'] }
                      .radio
                        label
                          input(type='radio', name='swag', value='normal_2', data-swag='normal_2', data-price='3000')
                          | 3000 Ft
                          span.small  #{ content.tabs.support['normal_2'] }
                      .radio
                        label
                          input(type='radio', name='swag', value='normal_1', data-swag='normal_1', data-price='3000')
                          | 3000 Ft
                          span.small  #{ content.tabs.support['normal_1'] }
                      .radio
                        label
                          input(type='radio', name='swag', value='small', data-swag='small', data-price='1000')
                          | 1000 Ft
                          span.small  #{ content.tabs.support['small'] }
                      .radio
                        label
                          input(type='radio', name='swag', value='0', data-swag='0')
                          |  #{ content.tabs.support['0'] }
                      hr
                      h2.fs-section-title !{ content.tabs.support.hoodies.title }
                      #shirtOrders.form-group
                        .shirt-order.form-inline.row(data-count='1')
                          input.shirtOrder(type='hidden', data-price='0')
                          select(name='shirtType-1')
                            option(value='', data-single-price='0') #{ content.tabs.support.hoodies.type }
                            option(value='men', data-single-price='1250') #{ content.tabs.support.hoodies.shirts.men }
                            option(value='women', data-single-price='1250') #{ content.tabs.support.hoodies.shirts.women }
                            option(value='menHoody', data-single-price='4000') #{ content.tabs.support.hoodies.shirts.menHoody }
                            option(value='womenHoody', data-single-price='4500') #{ content.tabs.support.hoodies.shirts.womenHoody }
                          select(name='shirtSize-1')
                            option.menHoody.womenHoody.men.women(value='', data-single-price='0') #{ content.tabs.support.hoodies.size }
                            option.menHoody.womenHoody.men.women(value='S', data-single-price='1') S
                            option.menHoody.womenHoody.men.women(value='M', data-single-price='1') M
                            option.menHoody.womenHoody.men.women(value='L', data-single-price='1') L
                            option.menHoody.womenHoody.men.women(value='XL', data-single-price='1') XL
                            option.menHoody.womenHoody.men.women(value='2XL', data-single-price='1') 2XL
                            option.men(value='3XL', data-single-price='1') 3XL
                          select.shirtColor(name='shirtColor-1')
                            option.menHoody.womenHoody(value='Navy', data-single-price='1') Navy
                            option.womenHoody(value='Sport Grey', data-single-price='1') Sport Grey
                            option.menHoody(value='Forest green', data-single-price='1') Forest green
                            option.menHoody(value='Maroon', data-single-price='1') Maroon
                            option.menHoody(value='Dark Chocolate', data-single-price='1') Dark Chocolate
                          select(name='shirtQuantity-1')
                            option(value='', data-single-price='0') #{ content.tabs.support.hoodies.quantity }
                            option(value='1', data-single-price='1') 1
                            option(value='2', data-single-price='2') 2
                            option(value='3', data-single-price='3') 3
                            option(value='4', data-single-price='4') 4
                            option(value='5', data-single-price='5') 5
                          a.minusOne.plusOne(type='button') -
                      a#shirtPlusOne.plusOne(type='button') +

                  input.previous.action-button(type='button', name='previous', value=content.prev)
                  input.next.action-button(type='button', name='next', value=content.next)

                .tab
                  h2.fs-title #{ content.tabs.personal.title }
                  h3.fs-subtitle #{ content.tabs.personal.subtitle }
                    .personal-tab
                      .form-group
                        input.form-control.input-lg(type='text', placeholder=content.tabs.personal.lname, data-error=content.errors.empty, name='lname', required='')
                        .help-block.with-errors
                      .form-group
                        input.form-control.input-lg(type='text', placeholder=content.tabs.personal.fname, data-error=content.errors.empty, name='fname', required='')
                        .help-block.with-errors

                      .form-group
                        input#inputEmail.form-control.input-lg(type='email', name='email', placeholder='Email*', data-error=content.errors.email, required='')
                        .help-block.with-errors
                      .form-group
                        input.form-control.input-lg(type='text', name='birth', pattern!='(19|20)[\\d]{2}/[01][\\d]/[0123][\\d]', placeholder=content.tabs.personal.birth, data-error=content.errors.birth, required='')
                        .help-block.with-errors
                      .form-group
                        input.form-control.input-lg(type='text', placeholder=content.tabs.personal.city, data-error=content.errors.empty, name='city', required='')
                        .help-block.with-errors
                      .form-group
                        input.form-control.input-lg(type='text', placeholder=content.tabs.personal.country, data-error=content.errors.empty, name='country', required='')
                        .help-block.with-errors
                      label.checkbox-inline
                        input#newsletter(type='checkbox', value='1', name='newsletter', data-price='0', checked='')
                        | #{ content.tabs.personal.newsletter }

                  input#submitNext.next.action-button(type='hidden', name='next')
                  input.previous.action-button(type='button', name='previous', value=content.prev)
                  input.submit.action-button(type='submit', name='submit', value=content.submit)
                  #server-error
                    p #{ content.errors.server }
                  #user-error
                    p !{ content.errors.user }

                .tab
                  .submit-tab
                    .spinner
                    p #{ content.errors.progress }
                  input#submitOk.next.action-button(type='hidden', name='next')
                  input#submitError.previous.action-button(type='hidden', name='previous', value=content.prev)

                .tab
                  h2.fs-title #{ content.success.title }
                  h3.fs-subtitle #{ content.success.subtitle }
                  a(href=page.nav.conference.url, title=page.nav.conference.text) #{ page.nav.conference.text }

            .reg-info
              .bordered
                h3 #{ content.info.title }
                | !{ content.info.description }

              hr
              h4 #{ content.price }
              #calculator
                p#fullPrice !{ content.fullPrice }
                p#swagPrice !{ content.swagPrice }
                p#attendancePrice !{ content.attendancePrice }
                p.small *#{ content.fullPriceHelp }



    include foot
