<footer>
  <div class="row">
    <div class="small-6 columns text-right">
      <%= image_tag 'logo-white.png' %>
    </div>
    <div class="small-6 columns text-left">
      <%= image_tag 'asi_logo.png' %>
    </div>
    <div class="small-12 columns text-center">
      <p class="copyright">
        <%= t :contact %>: <a href="mailto:info@fjk.hu">info@fjk.hu</a><br>
        Copyright © 2011–<%= Date.today.year %> <%= t :name %>
      </p>
    </div>
  </div>
</footer>
