<header class="sticky hide-for-small">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to image_tag('logo.png'), p('/') %></a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left show-for-large-up" data-anchors>
      <% current_page.data.anchors.each do |id, title| %>
        <% if title.is_a?(Hash) %>
        <li class="has-dropdown">
          <a href="#"><%= id %></a>
          <ul class="dropdown">
          <% title.each do |id, title| %>
            <li><a href="#<%= id %>"><%= title %></a></li>
          <% end %>
          </ul>
        </li>
        <% else %>
        <li><a href="#<%= id %>"><%= title %></a></li>
        <% end %>
      <% end if current_page.data.anchors %>
      </ul>

      <ul class="right">
        <%= partial 'main_menu' %>
      </ul>
    </section>
  </nav>
</header>
